@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

html body {
  font-family: 'Quicksand', sans-serif;
}

#app {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body, .login-container {
  background-color: #1e242a !important;
}

.clickable {
  cursor: pointer;
}

.task-row-selected {
  background-color: #2a3036;
}

.progress-bar {
  top: 56px !important; /* Header size */
  z-index: 1000 !important;
}

.tasks-container {
  margin-bottom: 150px;
}

.task-selected {
  background-color: #2a3036;
}

.main-task-row {
  padding-left: 6px;
}

.taskslist-enter-active, .taskslist-leave-active {
  transition: all .5s;
}

.taskslist-enter, .taskslist-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.flip-taskslist-move {
  transition: transform .5s;
}

.b-form-spinbutton.form-control .btn {
  color: white !important;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.empty {
  margin-top: 100px;
  color: #4d545b;
}

.loading-container {
  margin-top: 230px;
  color: #6b856f;
}

.task-list-container {
  padding: 0px !important;
}